#keret {
  margin: 0px auto;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 5px 5px 10px black;
  background-color: rgba(234, 200, 150, 0.9);
  text-align: justify;
}
#kep1{
  height: 150px;
  
  float: right;
  
}

a {
  
}
.img-thumbnail{
	width:250px;
	height:200px;
}


h1, h2 {
  font-family: Verdana;
  color:grey;
}

p, li {
  
  text-indent: 20px;
}
table, tr, td{
  border: 1px solid black;
  padding: 10px;
  border-collapse: collapse;
}
.forras{
  color: red;
  text-decoration: none;
  
}
#kep1{
  margin: 20px;
}
.row{
  padding: 20px;
  margin: 20px;
}
